body{
    font-family:Arial,sans-serif;
    padding: 30px;
    text-align: center;
}
.dark-mode{
    background-color: black;
    color: white;
}

#taskInput{
    padding: 10px 15px;
    width: 200px;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.4);
    border-radius: 10px;
}
button{
    padding: 10px 15px;
    margin: 5px;
    cursor:pointer;
    border-radius: 20px;
    
}

button:hover{
    background-color: yellow;
    box-shadow:2px 4px 10px rgba(0,0,0,0.4) ;
}
li{
    list-style: none;
    padding: 0;
    cursor:pointer;
}

.completed{
    text-decoration: line-through;
    color: green;
}

.error{
    color: red;
    font-size: 20px;
}